@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: #222;
    
}

.whole {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.card {
    border: 2px solid white;
    width: 25vw;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);  
}

.search input {
    border: none;
    border-radius: 20px;
    width: 20vw;
    height: 5vh;
    text-align: center;
    font-weight: 550;
    font-size: 22px;
}

.search button {
    background: white;
    border-radius: 40%;
    color: white;
    border: 0;
    outline: 0;
    margin-top: 2vh;
}

.search ion-icon {
    font-size: 20px;
    color: black;
    border-radius: 50%;
    cursor: pointer;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weather img{
    width: 12vw;
    margin-top: 0.5vh;
}

.weather h1 {
    font-size: 55px;
    font-weight: 500;
}

.weather h2 {
    margin-top:0;
    font-size: 35px;
    font-weight: 400;
}

.details {
    display: flex;
    justify-content: space-between;
    width: 20vw;
    padding: 2em;
}

.details .col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.details img {
    width: 4vw;
}

.col {
    font-weight: 600;
}

.details .humidity{
    margin-left: 0.5em;
}

.details p{
    margin-left: 0.5em;
}
